<!DOCTYPE htmtl>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/table.css}" rel="stylesheet">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button></a>

		<div>
		<form action="./" method="get">
			日付<input type="date" name="start" value="${start}">
			<input type="date" name="end" value="${end}"> <input type="submit"value="絞り込み">
		</form>
		</div>

	<table border="1">
	<tbody>
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>日時</th>
			<th></th>
			<th></th>
			<th>コメント</th>
			<th>返信内容</th>
		</tr>

		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td th:text="${content.created_Date}" pattern="yyyy/MM/dd HH:mm:ss"/>
			<td><a th:href="@{/edit/{id}(id=${content.id})}"><button
						type="button">編集</button></a></td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>

			<td>
				<table>
					<tr>
						<th>コメントID</th>
						<th>コメント内容</th>
						<th></th>
					</tr>

					<tr  th:each="comment : ${comments}">
					<div th:if="${content.id} == ${comment.report_Id}">
						<td th:text="${comment.id}">
						<td th:text="${comment.comment}">
					<td>
						<a th:href="@{/editcomment/{id}(id=${comment.id})}">
						<button type="button">編集</button></a>
					</td>
					<td>
						<form th:action="@{/deletecomment/{id}(id=${comment.id})}"th:method="delete">
						<input type="submit" value="削除">
						</form>

					</td>
					</div>
					</tr>

				</table>
			</td>

			<form th:action="@{/addcomment/{id}(id=${content.id})}" th:object="${formModel}" th:method="post">
				<td><textarea name="comment" cols="100" rows="5"class="tweet-box"></textarea>
				<input type="submit" value="返信" /></td>
			</form>

		</tr>
</tbody>
	</table>

</body>
</html>